
.Main {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter:opacity(60%);
    transform: translateX(10%) translateY(40%);
    z-index:-1;
}
