.App {
    max-width: 600px;
    margin: 30px auto;
  }
  .Weather {
    font-family: Roboto, arial, sans-serif;
    color: #000;
    font-weight: 600;
  }
  .Weather .overview {
    margin-bottom: 20px;
  }
  
  .Weather {
    color: rgb(22, 22, 22);
    line-height: 28px;
    font-size: 24px;
    font-weight: 100;
    margin: 0;
  }
  ul {
    padding: 0%;
    margin: 0 0 10 px;
  }
  li {
    color: rgb(24, 25, 26);
    font-size: 16px;
    font-weight: 600;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  .weather-app-wrapper {
    max-width: 600 px;
    margin: 30px auto;
  }
  .Weather {
    border: 5px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 2px 3px gray;
    mix-blend-mode: hard-light;
    background: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #3b41c5 100%);
  }
  .Weather::after {
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent);
    pointer-events: none;
  }
  .Weather canvas {
    margin: 10px auto;
  }
  .Weather .temperature {
    font-family: Google Sans, Roboto, arial, sans-serif;
    font-weight: 400;
    color: #202124;
    font-size: 64px;
    line-height: 64px;
    margin-left: 10px;
  }
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    line-height: 1;
    top: -35px;
  }
  .Weather .search-form {
    margin-bottom: 20px;
    color: black;
  }
  .Weather .weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
  }
  
  .Weather .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }
  
  .Weather .weather-forecast-temperature-min {
    opacity: 0.5;
  }
  
  .Weather .weather-forecast-temperatures {
    font-size: 13px;
  }
  .Weather .line {
    border-bottom: 4px solid rgb(56, 75, 94);
    display: block;
  }
  